.table1 {
    background-image: url("background image.jpg");
    width: auto;
    height: 500px;

}
.table2{
    align-items: center;
    margin-left: 250px;  
}

.table3{
    align-items: center;

}

.table4{
    align-items: center;

}
.table5{
    align-items: center;
    margin-left: 600px;

}

.table6{
    align-items: center;
    margin-left: 275px;

}

.table7{
    align-items: center;
    margin-left: 400px;
    
    


}


    
